<div id="<%= dom_id field_entry %>">
  <div>
    <strong>Name:</strong> <%= field_entry.name %>
  <br/>
  <strong>Description:</strong> <%= field_entry.description %>
  </br>
  <strong>Default: </strong><%= field_entry.default %>                                                                          </br>
  <strong>Type:</strong><%= field_entry.type  %>
  </br>
  </div>
</div>
<hr width="75%">
