<div id="<%= dom_id end_point %>">
  <p>
  <b>Resource name</b>: <%= @resource.name %>
  </p>
  <p>
  <b>End point name</b>: <%= end_point.name %>
  </p>
  <p>
  <b>Description</b>: <%= end_point.description %>
  </p>
  <p>
  <b>HTTP Method</b>: <%= end_point.http_method %>
  </p>
</div>
