<p style="color: green"><%= notice %></p>
<%= render @end_point, resource: @resource %>

<h3>New Query Parameter</h3>
<div id="query-parameter-form">
  <%= render "query_parameters/form", resource: @resource, end_point: @end_point %>
</div>

<h3>Query Parameters</h3>
<div id="query-parameters">
  <% @end_point.query_parameters&.each do |query_parameter| %>
    <%= render "query_parameters/query_parameter", query_parameter: query_parameter %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this end point", edit_resource_end_point_path(@resource, @end_point.id) %> |
  <%= link_to "Back to end points", resource_end_points_path(@resource) %>

  <%= button_to "Destroy this end point", resource_end_point_path(@resource, @end_point.id), method: :delete %>
</div>
