<p style="color: green"><%= notice %></p>

<%= render @end_point, resource: @resource %>

<div id="end-points">
  <% @resource.end_points.each do |end_point| %>
    <%= render "end_points/end_point", end_point: end_point, resource: @resource %>
  <% end %>
</div>

<div id="query-parameter-form">
  <%= render "query_parameters/form", resource: @resource %>
</div>

<h3>Query Parameters</h3>
<div id="query-parameters">
  <% @query_parameters.each do |query_parameter| %>
    <%= render "query_parameters/query_parameter", query_parameter: query_parameter %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this end point", edit_end_point_path(@resource, @end_point._id) %> |
  <%= link_to "Back to end points", end_points_path %>

  <%= button_to "Destroy this end point", @end_point, method: :delete %>
</div>
