<p style="color: green"><%= notice %></p>

<%= render @resource %>
<div id="field-entry-form">
  <%= render "field_entries/form" %>
</div>
<div id="field-entries">
  <% @resource.field_entries.each do |field_entry| %>
    <%= render "field_entries/field_entry", field_entry: field_entry %>
  <% end %>
</div>

<div>
  <%= link_to "Add end point", new_resource_end_point_path(@resource) %> |
  <%= link_to "Edit this resource", edit_resource_path(@resource) %> |
  <%= link_to "Back to resources", resources_path %>

  <%= button_to "Destroy this resource", @resource, method: :delete %>
</div>
