<div id="<%= "query_parameter_#{query_parameter[:_id]}" %>">
  <p>
   <b>Name</b>: <%= query_parameter[:name] %>
  </p>
  <p>
   <b>Description</b>: <%= query_parameter[:description] %>
  </p>
  <p>
   <b>Default value</b>: <%= query_parameter[:default] %>
  </p>
  <p>
   <b>Type</b>: <%= query_parameter[:type] %>
  </p>
  <p>
   <b>Valid values</b>: <%= query_parameter[:valid_values] %>
  </p>
  <p>
   <b>Optional</b>: <%= query_parameter[:optional] %>
  </p>
  <hr/>
</div>
